<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Skyway Residence</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <li><a href="/">Trang Chủ</a></li>
        <!--<li><a href="#">Hình Ảnh - Events</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thông Tin Căn Hộ <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/ban-ve-mat-bang">Bản Vẽ Mặt Bằng</a></li>
            <li><a href="/pages/phoi-canh-3d">Phối Cảnh 3D</a></li>
          </ul>
        </li>
        <li><a href="/pages/tien-ich">Tiện Ích</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hình Ảnh <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/galleries/anh-khai-truong-can-ho-mau">Ảnh khai trương căn hộ mẫu</a></li>
            <li><a href="/galleries/anh-nha-mau">Ảnh Nhà Mẫu</a></li>

            <!--<li role="separator" class="divider"></li>-->
          </ul>
        </li>
        <li><a href="/pages/lien-he">Liên Hệ</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">

      </ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>